*.txt
*.sh
*.pkl
*.csv
*.png
*.code-workspace
test.ipynb
z3_example/
experiment_record/
data2dataset_ignore/
.vscode/
.history/
dataset/
dataset*/
case4test/
# deprecated/
newgraph/
neuropdr_model/
__pycache__/
testcase*/
log/
old_models_train/
saved_models/
neurograph_model/
IC3ref/
inv.cnf
test_func/
deprecated/
*.yaml
*.cnf
abc/
*.jpg
*.svg
hwmcc20_abc_7200_result/
*.bkup
yosys/
aiger_tool_util/
pre-dataset/
hwmcc20-ic3ref_7200-result/
benchmark_folder/
case4comp/
original_main/
train_circuitsat/
utils/toolbox.py
utils/pyPDR/
data2dataset/cex2smt2/aig2graph.py
data2dataset/aig2graph/
utils/picosat/
clause-learning/
!check_proc.sh
.vector_cache/
*.pickle