*.txt
*.sh
*.pkl
*.csv
*.png
*.code-workspace
test.ipynb
z3_example/
experiment_record/
data2dataset_ignore/
.vscode/
.history/
dataset/
dataset*/
case4test/
# deprecated/
newgraph/
neuropdr_model/
__pycache__/
testcase*/
log/
old_models_train/
saved_models/
neurograph_model/
IC3ref/
inv.cnf
test_func/
deprecated/